/*Set default no border and outline for input and button*/
input {
    outline:none;
    border:none;
}
button {
    border:none;
    background: white;
}


/*Style for locker*/
.lockerBtn,.lockerField {
    position: fixed;

    bottom: 0;
    border:none;
    text-align: center;
    background: none;
}
.lockerBtn {
    left:2px;
    width:40px;
    height:40px;
}
.lockerField {
    background-color: white;
    width: 170px;
    height: 35px;
    left: 40px;
    bottom:8px; 
}
.lockerInput::placeholder {
    font-size: 0.9em;
}
.lockerInput {
    width: 130px; 
    color: black; 
    background-color: white;
}


/* Style for adding */

.addingBar {
    background: white;
    height: 38px;
    width: 370px;
    position: fixed;
    bottom: 0;
    right: 20px;
}
.item {
    font-weight:500
}
.item:hover{
color: #0d6efd;
font-weight:640
/* color: red */
}

/* Adding Box */
.addingBox {
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 2px 15px 5px lightgrey;
    width: 250px;
    background-color: white;
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 450px;
    height: 70vh;
    display:none;
}
.chevronBtn {
    height: 32px;
    width: 32px;
    /* background: lightblue; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chevronBtn:hover{
    background: lightgrey;
}
.itemList {
    list-style-type: none;
}
.addItems::placeholder {
    font-size: medium;
}


/*Style for Noting */
/*Style icons*/
.circleChecked{
    /* margin-top:-2px; */
    background:#0d6efd;
    border-radius:50%;
    border:none;
    outline:none
}


.trash {
    float: right;
    margin-right: 2px;
    margin-top: -2px;
    }
.check {
    margin-right: 6px;
    margin-top: -6px;
    }

/* Noting box */
